NEXT_PUBLIC_SITE_URL=https://plantsure.feedbacknfc.com
DATABASE_URL=
TEST_DATABASE_URL=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
SDM_MASTER_KEY_V1=
CRON_SECRET=
HEALTHCHECKS_AUDIT_HEARTBEAT_URL=
